<header class="relative {{ heroSettings.bg.color or 'bg-black' }} lg:overflow-hidden {{ heroSettings.height.mobile or 'h-1/1' }} sm:{{ heroSettings.height.desktop or heroSettings.height.mobile or 'h-1/1' }}">
  <img src="/assets/images/{{ heroSettings.bg.image }}" alt="" loading="eager" fetchpriority="high" sizes="100vw" class="absolute inset-0 w-full h-full object-cover {{ heroSettings.bg.imagePosition or 'object-center' }} {{ heroSettings.bg.opacityMobile or 'opacity-100' }} md:{{ heroSettings.bg.opacityDesktop or heroSettings.bg.opacityMobile or 'opacity-100' }}">

  {# Shared across hero components  #}
  {% include "components/hero-text-overlay.njk" %}

</header>